/*  general/main start  */

.hidden {
  display: none;
}

.songFinderMain {
  max-width: 600px;
  margin: 0 auto;
}

.songFinderForm {
  margin: 0;
  padding: 0;
}

input[type="text"] {
  padding: 5px;
}

div {
  display: block;
}

#jamSeek-logo {
  margin-left: auto;
  margin-top: 14vw;
  margin-right: auto;
  margin-bottom: 5vw;
  align-content: center;
}

img {
  max-width:100%;
}

#results {
  list-style: none;
  color: white;
}

#js-search-lyrics {
  margin: 10px;
  font: 1.3vw;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: rgb(4, 18, 20);
  background-size: auto;
  text-align: center;
  color: white;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color:     rgb(4, 18, 20);
}

::-webkit-scrollbar-thumb {
    background-color: rgb(4, 18, 20);
    border-radius: 6px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3.5px rgb(4, 18, 20);
    background-color: rgb(4, 18, 20);
    border-radius: 6px;
}


/* search results section */
.user-search-lyrics {
    transition-property: background-color;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    width: 50vw;
    cursor: pointer;
    text-align: left;
    padding-left: 1vw;
    font-size: 3vw;
    border-radius: .6vw;
}

.user-search-lyrics:hover {
    cursor: pointer;
    color: red;
}

#container-results {
    width: 100%;
    margin-top: 3vw;
}

.artist-song {
    overflow: auto;
    color: white;
    white-space: nowrap;
}

ul {
    padding-left: 0;
    list-style-type: none;
}

* {
  margin: 0;
  box-sizing: border-box;
}

/* search button */
.findButton {
  background-color: #53bd57; 
  border: none;
  border-radius: 12vw;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}

/* genius lyrics button */
.geniusButton {
    background-color: #53bd57; 
    border: none;
    font-size: 2.3vw;
    width: 14vw;
    height: 4vw;
    border-radius: 6vw;
    color: white;
    cursor: pointer;
}

/* Top Navigation Start */
.topnav {
  display: flex;
  background-color: #53bd57;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 3px 3px;
}

#search-term-quote {
  color: #53bd57;
}

.topnav a {
  display: flex;
  float: left;
  color: white;
  text-align: center;
  padding: 5px 10px;
  text-decoration: none;
  font-size: 3vw;
  margin: 0;
}

a:hover {
  color: rgb(5, 5, 5);
}
/* Top Navigation End */

/* Lyrics Song Name click*/
.lyricsFrmArtist {
    margin-left: 6vw;
    margin-right: 1vw;
    border-radius: .5vw;
    border: 1.1px solid #53bd57;
    font-size: 2vw;
}

.artistResult {
  margin-top: 3vw;
  margin-bottom: 3vw;
}

.resultsArea {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.eachSongLyricArea {

    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
}

.lyricsShowGenius {
    align-items: center;
    font-size: 1.5vw;
    width: 15vw;
    border-radius: 5vw;
}
/* end lyrics click */

/* saved items */
#addedSavedItems1 {
    flex-direction: column;
    align-items: center;
}

.savedLikes {
    margin-top: 2vw;
    margin-bottom: 2vw;
}

/* button URL here */
.addedSavedItems {
    background-image: url('https://i.imgur.com/ziYqk0C.jpg');
    background-size: 88%;
    background-repeat: no-repeat;
    width: 3.6vw;
    height: 3.6vw;
}

.addedSavedItems:hover {
    background-size: 100%;
    cursor: pointer;
}

.deleteSaveItem {
    background-image: url('https://i.imgur.com/67JFw2R.png');
    background-size: 75%;
    width: 7vw;
    height: 7vw;
    background-repeat: no-repeat;
}

.deleteSaveItem:hover {
    background-size: 80%;
    cursor: pointer;
}

.albumPic {
    width: 100%;
    height: 100%;
}

.albumPhoto {
    max-width: 100%;
    max-height: 100%;
}

.saveListArtist {
    font-size: 3vw;
    text-align: left;
    width: 64%;
}

#savedLyricsPage {
    position: fixed;
    width: 80%;
    height: 80%;
    padding-top: 6.5vw;
    background-color: rgb(4, 18, 20);
    overflow: auto;
    box-sizing: border-box;
    border: 3px solid #53bd57;
    border-radius: 2vw;
  }

.savedSongsOuter {
    flex-direction: column;
    display: flex;
    align-items: center;
}

.savedSongs {
  font-size: 3vw;
  color: white;
  text-decoration: none;
  white-space: pre-wrap;
}

.savedSongs:hover {
  color: black;
}

.lyrics {
  overflow: auto;
  font-size: 3vw;
  text-align: left;
  white-space: pre-wrap;
}
/* saved items Items end */

@media screen and (min-width: 700px) {

img {
  max-width:90%;
}

body {
  margin: 0;
}

.user-search-lyrics {
    width: 60vw;
    font-size: 1.5vw;
    overflow: auto;
}

.geniusButton {
    font-size: 1.4vw;
    height: 3.5vw;
    width: 7vw;
    border-radius: 2vw;
}

.topnav {
  overflow: auto;
}

.topnav a {
  font-size: 1.5vw;
}

.lyricsFrmArtist {
    margin-left: 3vw;
    margin-top: .5vw;
    font-size: 2vw;
}

.lyricsShowGenius {
    font-size: 2vw;
    width: 8vw;
    height: 3vw;
    border: 3px #53bd57;
}

.addedSavedItems {
    background-size: 80%;
}

.addedSavedItems:hover {
    background-size: 95%;
}

.saveListArtist {
    font-size: 2vw;
}

#savedLyricsPage {
    height: 70%;
}

.savedSongs {
    font-size: 1.5vw;
}

.lyrics {
    font-size: 14px;
}}  
